/*-- scss:defaults --*/

body {
  /*background-image: url("img/background.png"); */
  /*background-size: cover; */
  /*background-repeat: no-repeat; */
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
}


img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

$primary:   #69ae23;
$secondary: #69ae23;

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}




.navbar {
 /* background-color: transparent !important; */
 /* border: none !important; */
}
